@using Kentico.Content.Web.Mvc.PageBuilder
@using Convenience.org
@{
	Layout = "~/Features/Shared/Convenience/_Layout.cshtml";
}

@model TemplateViewModel

@{
	var isPreviewModel = Context.Kentico().PageBuilder().EditMode;
}

<div class="row">
	@await Component.InvokeAsync("Breadcrumb")
</div>

<div class="row">
	@await Html.Kentico().EditableAreaAsync("HeroWidgetArea")
</div>

<div class="row">
	@await Html.Kentico().EditableAreaAsync("GooggleAdsWidgetArea")
</div>

<div class="row">
	@await Html.Kentico().EditableAreaAsync("TopicsWidgetArea")
</div>

<div class="row">
	@await Html.Kentico().EditableAreaAsync("EndWidgetArea")
</div>