@using NACS.Portal.Core.Models
﻿@using ConvenienceCares.Models

@model FormWidgetViewModel

<div id="form_Panel" style="position:relative">
    <div id="form-section">
        <span style="display:none;" class="ErrorLabel" id="error-message"></span>
        <div class="FormPanel" id="FormPanel">
            


                <div id="sign-up-container">
                <img src="~/_content/conveniencecares.org/img/embellishment-white-3.png" />
                    <img src="~/App_Themes/ConvenienceCares.org/img/embellishment-white-3.png" />
                    <div id="sign-up-content">
                        <div id="sign-up-form">
                            @Html.Raw(Model?.Heading)
                            <p>@Html.Raw(Model?.Description)</p>

                            <form id="support-form" class="get-involved-form" method="post">

                                <fieldset id="form-name-info">
                                    <span>
                                        <label for="fname">First Name</label><br>
                                        <div id="firstname" class="EditingFormControlNestedControl editing-form-control-nested-control">
                                            <input name="FirstName" type="text" maxlength="200" id="txtfirstname" class="form-control">
                                        </div>
                                    </span>
                                    <span>
                                        <label for="lname">Last Name</label><br>
                                        <div id="lastname" class="EditingFormControlNestedControl editing-form-control-nested-control">
                                            <input name="LastName" type="text" maxlength="200" id="txtlastname" class="form-control">
                                        </div>
                                    </span>
                                </fieldset>
                                <fieldset id="form-company-info">
                                    <span>
                                        <label for="cname">Company Name</label><br>
                                        <div id="company" class="EditingFormControlNestedControl editing-form-control-nested-control">
                                            <input name="Company" type="text" maxlength="200" id="txtcompany" class="form-control">
                                        </div>
                                    </span>
                                    <span>
                                        <label for="jtitle">Job Title</label><br>
                                        <div id="title" class="EditingFormControlNestedControl editing-form-control-nested-control">
                                            <input name="Title" type="text" maxlength="200" id="txttitle" class="form-control">
                                        </div>
                                    </span>
                                </fieldset>
                                <fieldset id="form-contact-info">
                                    <span>
                                        <label for="email">Email Address</label><br>
                                        <div id="email" class="EditingFormControlNestedControl editing-form-control-nested-control">
                                            <input name="Email" type="text" maxlength="200" id="txtemail" class="form-control">
                                        </div>
                                    </span>
                                    <span>
                                        <label for="phone">Phone Number</label><br>
                                        <div id="phone" class="EditingFormControlNestedControl editing-form-control-nested-control">
                                            <input name="Phone" type="text" maxlength="200" id="txtphone" class="form-control">
                                        </div>
                                    </span>
                                </fieldset>
                                <fieldset id="comments-block">
                                    <label for="comments">Additional Notes or Comments</label>
                                    <div id="anthingelse" class="EditingFormControlNestedControl editing-form-control-nested-control">
                                        <textarea name="AnthingElse" rows="2" cols="20" id="txtanthingelse" class="form-control"></textarea>
                                    </div>
                                </fieldset>
                                <fieldset id="consent-block">
                                    <div id="getinvolved" class="EditingFormControlNestedControl editing-form-control-nested-control">

                                        <span id="GetInvolved" class="checkbox checkbox-list-vertical">
                                            <input id="GetInvolved_list_0" type="checkbox" name="GetInvolved" value="I am interested in learning more about how my company can get involved as a participant with the NACS Foundation.">
                                            <label for="GetInvolved_list_0">I am interested in learning more about how my company can get involved as a participant with the NACS Foundation.</label>
                                            <br>
                                            <input id="GetInvolved_list_1" type="checkbox" name="GetInvolved" value="I am interested in learning more about how my company can fund or become a sponsor of the NACS Foundation and its programs.">
                                            <label for="GetInvolved_list_1">I am interested in learning more about how my company can fund or become a sponsor of the NACS Foundation and its programs.</label>
                                            <br>
                                            <input id="GetInvolved_list_2" type="checkbox" name="GetInvolved" value="I'd like to make a donation to the NACS Foundation.">
                                            <label for="GetInvolved_list_2">I'd like to make a donation to the NACS Foundation.</label>
                                        </span>
                                    </div>
                                </fieldset>

                                <input type="submit" name="btnOK" value="Submit" id="btnOK" class="FormButton btn btn-primary">
                            </form>
                        </div>
                    </div>
                <img src="~/_content/conveniencecares.org/img/embellishment-white-4.png" />
                    <img src="~/App_Themes/ConvenienceCares.org/img/embellishment-white-4.png" />
                </div>



            
        </div>
        <span style="display:none;" id="thank-you-message" class="InfoLabel">
                @Html.Raw(Model?.SubmitMessage)
        </span>
    </div>
</div>

