@using Convenience
@using ConvenienceCares.Models


@{
    Layout = "~/Features/Shared/ConvenienceCares/_Layout.cshtml";
    var viewModel = Model.GetTemplateModel<Page>();
}

@section styles {
    <link href="~/app_themes/conveniencecares.org/css/nacsfoundationawareness.css" rel="stylesheet" />
    
    <style>
        .header-image {
            display: none
        }

        .page-title {
            display: none
        }
    </style>
    
}

<div id="campaign-2020">
    <div class="row">
        <div class="col-12 main-content">

            <editable-area area-identifier="editableAreaContent"></editable-area>

            @Html.Raw(viewModel.PageContent)

            <editable-area area-identifier="editableAreaFooter"></editable-area>

        </div>
    </div>
</div>

