.form_trans .form-control{
    border: 1px #002569 solid !important;
}

.custom_select_box{
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%228%22%20viewBox%3D%220%200%2012%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M6.00021%207.0129C5.74688%207.0129%205.49354%206.91957%205.29354%206.71957L0.586875%202.0129C0.200208%201.62624%200.200208%200.986237%200.586875%200.59957C0.973542%200.212904%201.61354%200.212904%202.00021%200.59957L6.00021%204.59957L10.0002%200.59957C10.3869%200.212904%2011.0269%200.212904%2011.4135%200.59957C11.8002%200.986237%2011.8002%201.62624%2011.4135%202.0129L6.70688%206.71957C6.50688%206.91957%206.25354%207.0129%206.00021%207.0129Z%22%20fill%3D%22%230053A5%22/%3E%3C/svg%3E') !important;
    background-size: 12px 12px !important;    
}

/* .custom_select_box::after{
    content: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%228%22%20viewBox%3D%220%200%2012%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M6.00021%207.0129C5.74688%207.0129%205.49354%206.91957%205.29354%206.71957L0.586875%202.0129C0.200208%201.62624%200.200208%200.986237%200.586875%200.59957C0.973542%200.212904%201.61354%200.212904%202.00021%200.59957L6.00021%204.59957L10.0002%200.59957C10.3869%200.212904%2011.0269%200.212904%2011.4135%200.59957C11.8002%200.986237%2011.8002%201.62624%2011.4135%202.0129L6.70688%206.71957C6.50688%206.91957%206.25354%207.0129%206.00021%207.0129Z%22%20fill%3D%22%230053A5%22/%3E%3C/svg%3E") !important;
    border: none !important;
}

.custom_select_box{
    border: 1px #dee2e6 solid;
    background-color: transparent !important;
} */