@using Convenience.org.Models

@model PriceCardViewModel

@if (Model != null)
{
    <div class="border border-secondary-subtle p-4 PriceCardStyle-module__section_card card">
        <div class="color-FFFFFF card-body">
            @if (Model.Eyebrow != null)
            {
                @await Component.InvokeAsync("EyebrowTitle", new { model = Model.Eyebrow })
            }
            <div class="text-start">
                <p class="fs-4 fw-semibold m-0 mb-0">@Html.Raw(Model.Title)</p>
                <p class="m-0 mb-3 fw-light opacity-75">@Html.Raw(Model.Description)</p>
                <p class="m-0 mb-3 d-flex w-75">
                    @Html.Raw(Model.RetailMembersPrice)
                </p>

                @if (!string.IsNullOrEmpty(Model.Others))
                {
                    <p class="m-0 mb-3">
                        @Html.Raw(Model.Others)
                    </p>
                }
                <div>
                    <div class="text-center">
                        @await Component.InvokeAsync("Buttons", new { model = Model.CTA })
                    </div>
                </div>
            </div>
        </div>
    </div>
}