@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Web.Mvc
@using NACSShow
<vc:current-page-data />
@{
    Page? currentPageData = TempData["CurrentPageData"] as Page ?? new Page();
}
<!-- BANNER -->
<section class="banner row banner--post-show center-xs text--white">
    <editable-area area-identifier="BannerZone"></editable-area>
</section>

<!-- CTA -->
<section class="row center-xs section--margins">
    <div class="col-xs-12">
        <editable-area area-identifier="SubHeaderZone"></editable-area>
    </div>
    <div class="col-xs col-md-5" style="display:flex">
        <editable-area area-identifier="HalfZone1"></editable-area>
    </div>
    <div class="col-xs col-md-5" style="display:flex">
        <editable-area area-identifier="HalfZone2"></editable-area>
    </div>
</section>

<!-- Video -->
<section class="banner fill--gradient-multicolor row center-xs text--white" style="padding-bottom:3rem">
    <editable-area area-identifier="VideoZone"></editable-area>
</section>
<!-- end - Video -->
<!-- SESSIONS -->
<section class="sessions section--padded card-section">
    <div class="container center-xs">
        <editable-area area-identifier="FullZone2"></editable-area>
    </div>
</section>

<!-- PHOTO GALLERY -->
<section class="section-margins padding-bottom--lg">
    <editable-area area-identifier="ThirdZone1"></editable-area>
</section>

<!-- FEATURED QUOTE: LEAVE EM BETTER -->
<section class="section--margins container">
    <editable-area area-identifier="FullZone4"></editable-area>
</section>

<!-- NACS SHOW DAILY ARTICLES -->
<section class="fill--gradient-purple-to-pink" style="padding-bottom:2rem">
    <editable-area area-identifier="FullZone5"></editable-area>
</section>

<section>
    <div class="row">
        <div class="col-xs-12">
            <div class="wrapper container">
                <div class="block--sponsorship">
                    <div class="ad">
                        <div class="ad__wrapper">
                            <div class="multi-ad-container">
                                <div>
                                    <editable-area area-identifier="AdZone1"></editable-area>
                                </div>
                                <div>
                                    <editable-area area-identifier="AdZone2"></editable-area>
                                </div>
                                <div>
                                    <editable-area area-identifier="AdZone3"></editable-area>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


